@page "/confirmation"
@using Newtonsoft.Json;
@using TicketHive.Shared.Models;
@attribute [Authorize]
@inject Blazored.LocalStorage.ILocalStorageService localStorage;


@if (cartItems.Count > 0)
{
    <header>
        <h1>Thank you for your purchase!</h1>
    </header>

    <main>
        <div class="row row-cols-3 row-cols-md-3 g-4 center">
            @foreach (var item in cartItems)
            {
                decimal totalPrice = CalculateTotalPrice(item.EventModel.PricePerTicket, item.Quantity);
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <img style="max-width:100px" src="/Images/@item.EventModel.Image" class="card-img-top" alt="...">
                            <h5 class="card-title">@item.EventModel.EventName</h5>
                            <p class="card-text">@item.EventModel.EventPlace</p>
                            <p class="card-text">@item.EventModel.Date</p>
                            <p class="card-text">@item.Quantity /pcs @totalPrice</p>
                        </div>
                    </div>
                </div>
            }

        </div>
    </main>
}
@if (cartItems.Count == 0)
{
    <header>
        <h1>Oops there's nothing here...</h1>
    </header>
}

@code
{
    private List<BookingModel>? cartItems = new();

    protected override async Task OnInitializedAsync()
    {
        var jsonString = await localStorage.GetItemAsync<string>("cart");

        if (jsonString != null)
        {
            cartItems = JsonConvert.DeserializeObject<List<BookingModel>>(jsonString);
        }

        await RemoveFromCart();
    }

    private async Task RemoveFromCart()
    {
        await localStorage.RemoveItemAsync("cart");
    }

    public decimal CalculateTotalPrice(decimal PricePerTicket, int quantity)
    {
        return PricePerTicket * quantity;
    }

}
