@page "/event/{id:int}"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization;
@using Newtonsoft.Json;
@using System.Net;
@using TicketHive.Shared.Models;
@using TicketHive.Shared;
@using Microsoft.AspNetCore.Http;
@inject IEventRepo eventRepo;
@inject IUserRepo userRepo;
@inject IShoppingcartRepo shoppingcartRepo;
@inject NavigationManager navigationManager;

<PageTitle>Event</PageTitle>
<header class="p-5"></header>
<div class="row">
<div class=" col-6" >
    <img style="max-width: 500px" src="/Images/@chosenEvent.Image"/>
</div>

<div class="col-6  ">
        <form @onsubmit="HandleSubmit">
        <h2 class="text-decoration-underline">@chosenEvent.EventName</h2>
        <div ><em>@chosenEvent.EventDetails</em></div>
        <div ><p><b>@chosenEvent.EventPlace</b> @chosenEvent.Date</p></div>
        <div ><p><b>@chosenEvent.PricePerTicket</b>:-</p></div>
        
        <div>
            
                
            @if (chosenEvent.AvailableTickets < 1)
            {
                <div>
                    <em class="text-danger">SOLD OUT!</em>
                    <input disabled="@isDisabled" type="submit" style="text-align:center" value="Add to cart" />
                    </div>
            }
            else
            {
                    <select id="input-combobox" @bind="NumberOfTickets">
                        @for (int i = 1; i < 11; i++)
                        {
                            <option value=@i>@i.ToString()</option>
                        }

                    </select>
                <input type="submit" style="text-align:center" value="Add to cart" />

                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <h3 class="text-danger">@errorMessage</h3>
                    }
            }
            
        </div>
       
        </form>
</div>
</div>


<style>
    p,em,h2
    {
        color: #32516E;
        
    }
    div, select{
        background-color: #FCE693;
    }
</style>


@code {
    private string errorMessage = "";
    private bool isDisabled = true;
    private string? username;
    private UserModel? eventDbUser;
    private List<BookingModel> bookings = new();

    protected override async Task OnInitializedAsync()
    {
        await shoppingcartRepo.CreateCart(bookings);
        chosenEvent = await eventRepo.GetEvent(Id);
        //await shoppingcartRepo.CreateCart(bookings);
    }

    private async Task AddBooking()
    {
        BookingModel booking = new()
            {
                EventModelId = chosenEvent.Id,
                EventModel = chosenEvent,
                Quantity = NumberOfTickets
            };

        if (!await shoppingcartRepo.CheckIfItemExists(booking))
        {
            await shoppingcartRepo.AddToCart(booking);
            navigationManager.NavigateTo("/shoppingcart");
        }
        
        //TODO: Implement message popping up saying that item is already in cart
        errorMessage = "Event already in your cart";

    }
    private async Task HandleSubmit()
    {
        await AddBooking();
    }
}

