@page "/event/{id:int}"
@inject IEventRepo eventRepo;


<header class="p-5"></header>
<div class="row">
<div class=" col-6" >
    <img style="max-width: 500px" src="/Images/@chosenEvent.Image"/>
</div>

<div class="col-6  ">
        <form @onsubmit="HandleSubmit">
        <h2 class="text-decoration-underline">@chosenEvent.EventName</h2>
        <div ><em>@chosenEvent.EventDetails</em></div>
        <div ><p><b>@chosenEvent.EventPlace</b> @chosenEvent.Date</p></div>
        <div ><p><b>@chosenEvent.PricePerTicket</b>:-</p></div>
        
        <div>
            
                <select id="input-combobox" @bind="NumberOfTickets">
                @for (int i = 0; i < 11; i++)
                {
                    <option value=@i>@i.ToString()</option>
                }

            </select>
            
            <input type="submit" style="text-align:center" value="Add to cart" />
        </div>
       
        </form>
</div>
</div>


<style>
    p,em,h2
    {
        color: #32516E;
        
    }
    div, select{
        background-color: #FCE693;
    }
</style>

