@page "/home"
@attribute [Authorize]
@using TicketHive.Shared.Models;
@using TicketHive.Shared;
@inject IUserRepo userRepo;
@inject IEventRepo eventRepo;
@inject IBookingRepo bookingRepo;
@inject AuthenticationStateProvider authProvider


@if (eventDbUser != null && eventDbUser.Bookings.Count > 0)
{
    <header>
        <h1 class="text-center">Welcome to TicketHive <span class="  fs-3 fst-italic">@eventDbUser.Username</span></h1>
        <h4>Here is your bookings:</h4>
    </header>
    <div class="row row-cols-3 row-cols-md-3 g-4">
        @foreach (var e in eventDbUser.Bookings)
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <img style="max-width: 100px" src="/Images/@e.EventModel.Image" class="card-img-top" alt="...">
                        <h5 class="card-title">@e.EventModel.EventName</h5>
                        <p class="card-text"></p>
                        <a href="/event/@e.EventModel.Id" class="btn btn-primary card-btn">Go to event</a>
                    </div>
                </div>
            </div>

        }
    </div>
}
@if (eventDbUser != null && eventDbUser.Bookings.Count == 0)
{
    <header>
        <h1 class="text-center">Welcome to TicketHive <span class="  fs-3 fst-italic">@eventDbUser.Username</span></h1>
        <h4>You have no bookings, check out these events:</h4>
    </header>

    for (int i = 0; i < 5; i++)
    {
        <div class="row row-cols-3 row-cols-md-3 g-4">
            @foreach (var e in allEvents)
            {
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <img src="/Images/@e.Image" class="card-img-top" alt="...">
                            <h5 class="card-title">@e.EventName</h5>
                            <a href="/event/@e.Id" class="btn btn-primary card-btn">Go to event</a>
                        </div>
                    </div>
                </div>

            }
        </div>
    }
}



@*@if (eventDbUser != null)
{
    foreach (var item in Bookings)
    {
        <h3>@item.EventModel.EventName</h3>
    }
}
*@

@code {
    private string? username;
    private UserModel? eventDbUser;
    List<BookingModel>? Bookings;
    UserModel? signedInUser;
    private List<EventModel>? allEvents;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authProvider.GetAuthenticationStateAsync();

        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            username = user.Identity.Name;
        }
        if (username != "admin")
        {
            eventDbUser = await userRepo.GetUser(username);
        }

        if (eventDbUser != null)
        {
            Bookings = eventDbUser.Bookings;
        }

        await eventRepo.GetAllEvents();
        allEvents = eventRepo.Events.ToList();

    }

    private async Task AddBooking()
    {
        EventModel? eventToAdd = await eventRepo.GetEvent(3);


        if (this.eventDbUser != null && eventDbUser != null)
        {
            BookingModel booking = new()
                {
                    EventModelId = eventToAdd.Id,
                    Quantity = 1

                };

            BookingInfoModel bookingInfo = new()
                {
                    User = eventDbUser,
                    Booking = booking
                };

            await userRepo.AddBookingToUser(bookingInfo);
            eventDbUser = await userRepo.GetUser(username);
            Bookings = eventDbUser.Bookings;
        }
    }

    private async Task RemoveBooking()
    {
        await bookingRepo.RemoveBooking(1004);
        eventDbUser = await userRepo.GetUser(username);
        Bookings = eventDbUser.Bookings;
    }
}