@page "/user-page"
@*@attribute [Authorize]*@
@using TicketHive.Shared.Enums
@using Microsoft.AspNetCore.Components.Forms
@*@using Microsoft.AspNetCore.Identity*@
@using System.ComponentModel.DataAnnotations
@using TicketHive.Shared.Models;
@using TicketHive.Shared;
@inject AuthenticationStateProvider authStateProvider
@inject IUserRepo userRepo
@inject NavigationManager navigationManager

<PageTitle>User</PageTitle>
@if(!string.IsNullOrEmpty(errorMessage))
{
    <h3 class="text-danger">@errorMessage</h3>
}

    
  <body>
    <div class="card mx-auto" style="width: 18rem;">
        <EditForm Model="@changePasswordModel" OnValidSubmit="@(async() => await HandleValidSubmit())">
            <DataAnnotationsValidator />

            <div class="card-body">
                <div class="col text-center">
                    <label for="old-password-input">Old Password:</label>
                    <InputText @bind-Value="@changePasswordModel.OldPassword" id="old-password-input" type="password" asp-for="oldPassword" />
                    <ValidationMessage For="@(() => changePasswordModel.OldPassword)" />
                </div>
            </div>
         
            <div class="card-body">
                <div class="col text-center">
                    <label for="new-password-input">New Password:</label>
                    <InputText @bind-Value="@changePasswordModel.NewPassword" id="new-password-input" type="password" asp-for="Password" />
                    <ValidationMessage For="@(() => changePasswordModel.NewPassword)" />
                </div>
            </div>
            <div class="text-center">
                <input id="savechanges-id" type="submit" value="Save password" class="btn-savechanges" />
            </div>
        </EditForm>

        <div class="card-body">
            <div class="col text-center">
                <label for="new-country-input">Change country:</label>

                    
            <EditForm Model="@changeUserCountryModel" OnValidSubmit="@(async () => await HandleCountrySubmit())">
                <InputSelect id="input-combobox" @bind-Value=@changeUserCountryModel.UserCountry>
                    @foreach (var country in Enum.GetValues(typeof(Countries)))
                    {
                        <option value=@country>@country.ToString().Replace("_", " ")</option>
                    }
                </InputSelect>
                <div class="text-center">
                    <input id="savechanges-id" type="submit" value="Save country" class="btn-savechanges" />
                </div>
            </EditForm>
            </div>
        </div>

@*   

            <div class="text-center">
                <input id="savechanges-id" type="submit" value="Save password" class="btn-savechanges" />
            </div>
            <div class="text-center">
                <input id="savechanges-id" type="submit" value="Save country" class="btn-savechanges" @onclick="HandleCountrySubmit" />
            </div>
            

            <div>
                <span class="text-danger" asp-validation-for="SelectedCountry"></span>
            </div>*@
    </div>

  </body>


@code {
    public ChangePasswordModel changePasswordModel { get; set; } = new();
    public ChangeUserCountryModel changeUserCountryModel { get; set; } = new();




    private string? oldPassword;
    private string newPassword;
    private string? oldPasswordError;
    private string? newPasswordError;
    private string? errorMessage;
    private UserModel user;
    private string userCountry;


    protected override async Task OnInitializedAsync()
    {
        user = await userRepo.GetLoggedInUser();
        userCountry = user.UserCountry;
    }

    private async Task HandleValidSubmit()
    {
        changePasswordModel.Username = user.Username;
        changeUserCountryModel.Username = user.Username;


        var passwordChangeSuccessful = await userRepo.ChangeUserPassword(changePasswordModel);
        //var countryChangeSuccessful = await userRepo.ChangeUserCountry(changeUserCountryModel);
        if (passwordChangeSuccessful)
        {

            //var countryChangeSuccessful = await userRepo.ChangeUserCountry(changeUserCountryModel);

            navigationManager.NavigateTo("/");

        }
        //else if (countryChangeSuccessful)
        //{
        //    navigationManager.NavigateTo("/");
        //}
        else
        {
            errorMessage = "Your password is not strong enough";
        }

    }

    private async Task HandleCountrySubmit()
    {
        changeUserCountryModel.Username = user.Username;


        var countryChangeSuccessful = await userRepo.ChangeUserCountry(changeUserCountryModel);

        if (countryChangeSuccessful)
        {
            await userRepo.SetUserCurrency();
            navigationManager.NavigateTo("/");
        }
        

    }
}

<style>
    body {
        background-color: #FCE595;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 18rem;
        margin: 0 auto;
        border-radius: 20px;
        border-color: black;
        background-color: #305076;
    }

    #input-username {
        width: 200px;
        height: 45px;
        border-radius: 20px;
        border-color: black;
        margin-top: 20px;
        text-align: center
    }

    #old-password-input {
        width: 200px;
        height: 45px;
        border-radius: 20px;
        border-color: black;
        margin-top: 20px;
        text-align: center
    }

    #new-password-input {
        width: 200px;
        height: 45px;
        border-radius: 20px;
        border-color: black;
        margin-top: 20px;
        text-align: center
    }

    .btn-savechanges {
        font-size: 0.8rem;
        width: 50%;
        display: inline-block;
        outline: 0;
        border: 0;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        color: #000;
        background: #fff;
        border-radius: 40px;
        font-size: 30px;
        font-weight: 600;
        box-shadow: #fbe89c -2px -2px 0px 2px, #000000 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
        transition: all 0.2s;
    }

        .btn-savechanges:hover {
            box-shadow: #000000 0px 0px 0px 4px, #fbe89c 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
            transform: scale(1.01);
    }

    #savechanges-id {
        margin: 10px;
    }

    #input-combobox {
        width: 150px;
        height: 30px;
        border-radius: 20px;
        border-color: black;
        margin-top: 20px;
        text-align: center
    }

    input[type="submit"] {
        width: 80px;
        height: 45px;
        border-radius: 20px;
        border-color: black;
        text-align: center;
        font-size: medium;
        margin: auto;
        transition: all 0.3s;
    }

    input[type="submit"]:hover {
            transform: translateY(-6px);
    }
</style>
